$primary-font : 'Oswald	', sans-serif;
$primary-font-color : black;
$nav-font-weight : 300;
$nav-font-spacing : 6px;
$nav-font-size : 16px;
$nav-height : 50px;
$div-conatiner-check : none;
$nav-width : 100%;

body{
	background-color: #93dbc9;
	margin: auto;
	width: 100%;
	color: $primary-font-color;
	font-family: $primary-font;
}

nav a{
	text-decoration: none;
	color: $primary-font-color;
	transition-duration: 1.5s;
}

nav a:hover{
	color: #6EFFEB;
	transition-duration: 1.3s;
}

footer a{
	text-decoration: none;
	color: $primary-font-color;
	transition-duration: 1.5s;

}

footer a:hover{
	color: #6EFFEB;
	transition-duration: 1.3s;
}

#master{
	width: 100%;
	margin: 0 auto;
}

nav{
	background-color: $div-conatiner-check;
	height: $nav-height;
	width: $nav-width;
	margin: auto;
	top: 0px;
	position: fixed;
}

#nav-content{
	width: 90%;
	margin: 0 auto;
	background-color: $div-conatiner-check;
	
}

#nav-logo{
	font-size: $nav-font-size;
	font-weight: $nav-font-weight;
	letter-spacing: 2px;
	float: left;
	margin-top: $nav-height;
}

#nav-menu{
	float: right;
	font-size: $nav-font-size;
	letter-spacing: $nav-font-spacing;
	font-weight: $nav-font-weight;
	margin-top: $nav-height;
}

.absolute-text{
	position: absolute;
	color: white;
	top: 0px;
	margin-top: 240px;
	width: 100px;
	font-size: 20px;
	background-color: black;
	padding-right: 70px;
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	

}

footer{
	background-color: $div-conatiner-check;
	width: $nav-width;
	position: fixed;
	bottom: $nav-height;
	right: 0;
}

#footer-content{
	width: 90%;
	height: auto;
	margin: 0 auto;
}

#footer-left-link{
	font-size: $nav-font-size;
	font-weight: $nav-font-weight;
	letter-spacing: $nav-font-spacing;
	float: left;
}

#footer-right-link{
	font-size: $nav-font-size;
	font-weight: $nav-font-weight;
	letter-spacing: $nav-font-spacing;
	float: right;
}

#mid-container{
	width: 100%;
	margin-top: 100px;
	height: auto;
	background-color: none;
}

.mid-container-content{
	width: 50%;
	height: auto;
	margin: 0 auto;
	background-color: none;
	padding-bottom: 50px;
}

.mid-container-content img{
	width: 100%;
	height: auto;
}


